
:root {
    --green: #28a745; 
    --dark-green: #1c7c36; 
    --white: #ffffff; 
    --gray: #f8f9fa; 
    --black: #343a40;
    --gold: #ffc107; 
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/736x/13/64/69/1364693312f4ec25dd431c3074355054.jpg'); /* Remplacez par une vraie URL */
    background-size: cover;
    background-attachment: fixed;
  }
  
  header {
    background: linear-gradient(90deg, var(--green), var(--dark-green));
    color: var(--white);
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  form {
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
  }
  
  form select,
  form input[type="date"],
  form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--green);
    border-radius: 5px;
  }
  form input[type="date"],
  form input[type="number"]{
    width: 95.5%;
  }
  form input[type="button"] {
    width: 48%;
    background: var(--green);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 2px 0 2px;
  }
  
  form input[type="button"]:hover {
    background: var(--dark-green);
  }
  /* Tableau des matchs */
  table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  table thead {
    background: var(--dark-green);
    color: var(--white);
  }
  
  table th,
  table td {
    text-align: center;
    padding: 10px;
    border: 1px solid var(--green);
  }
  
  table tbody tr:nth-child(odd) {
    background: var(--gray);
  }
  
  table tbody tr:nth-child(even) {
    background: var(--white);
  }
  
  /* Contenu spécifique */
  h3 {
    text-align: center;
    color: var(--gold);
  }
  
  td p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: var(--black);
  }
  
  /* Footer */
  footer {
    background: var(--green);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  